{#
/**
 * @file
 * Template for a button component.
 *
 * Available config:
 * - type: primary | secondary | success | danger | warning | info |
 *     light | dark | link.
 * - size: sm | lg
 * - outline: true | false.  If type is "link", then outline will be
 *     ignored and button class will be "btn-link".
 * - html_tag: button | a | input
 * - value: string
 * - utility_classes: An array of utility classes.
 * - url: URL for link buttons.
 */
#}
{% set attributes = attributes ?? create_attribute() %}
{% set html_tag = html_tag ?? 'button' %}
{% set text = text ?? value %}

{% set css_classes = [
  'btn',
  (outline and type != 'link' ? 'btn-outline-' : 'btn-') ~ type,
  size ? 'btn-' ~ size,
]|merge(utility_classes ? utility_classes : []) %}

{% if url %}
  {% set url = url|render %}
{% endif %}

{% if html_tag == 'input' %}
  <input{{ attributes.addClass(css_classes) }} />
{% elseif html_tag == 'a' %}
  <a href="{{ url }}"{{ attributes.addClass(css_classes) }}>{{ text }}</a>
{% else %}
  <{{ html_tag }}{{ attributes.addClass(css_classes) }}>{{ text }}</{{ html_tag }}>
{% endif %}
