{#
/**
 * @file
 * Template for a button component.
 *
 * Available config:
 * - type: primary | secondary | success | danger | warning | info | light | dark
 * - size: sm | lg
 * - outline: true | false
 * - tag: button, a, input
 * - value: string
 * - utility_classes: An array of utility classes.
 * - url: URL for link buttons.
 */
#}
{% set attributes = attributes ?? create_attribute() %}
{% set tag = tag|default('button') %}
{% set utility_classes = utility_classes|default([]) %}
{% set text = text|default(value) %}

{% set css_classes = [
  'btn',
  (outline ? 'btn-outline-' : 'btn-') ~ type,
  size ? 'btn-' ~ size,
]|merge(utility_classes) %}

{% if url %}
  {% set url = url|render %}
{% endif %}

{% if tag == 'input' %}
  <input{{ attributes.addClass(css_classes) }} />
{% elseif tag == 'a' %}
  <a href="{{ url }}"{{ attributes.addClass(css_classes) }}>{{ text }}</a>
{% else %}
  <{{ tag }}{{ attributes.addClass(css_classes) }}>{{ text }}</{{ tag }}>
{% endif %}
